{% extends 'restaurant/base.html' %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
			<div class="col-md-6 col-sm-12 text-center mt-3">
				<h1>Order ID: {{ order.pk }}</h1>
		</div>
	</div>

		<div class="row justify-content-center">
			<div class="col-md-12 com-sm-12 mt-5">
				<h3>Customer Information:</h3>
		</div>
	</div>

		<div class="row justify-content-center">
			<div class="col-md-6 com-sm-12 mt-5">
					<p><span style="font-weight: 400;">Name:</span> {{ order.name}}</p>
					<h5 class="pt-3">Table Information:</h5>
		</div>

		<div class="col-md-6 col-sm-12">
			<h5>Transit Information</h5>
			<p class="mt-3">{% if order.is_sent %}
					<p><i style="color: green;" class="fas fa-check"></i><span class="pl-2">Order Has Been Sent</span></p> 
					{% else %}</p>
					<form method="POST">
							{% csrf_token %}
							<button type="submit" class="btn btn-outline-success">Mark as Sent</button>
			</form>
				{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
